html,
body {
  width: 100%;
  height: 100%; }
  html.is-hideScroll,
  body.is-hideScroll {
    overflow: hidden !important; }

html {
  -ms-overflow-style: scrollbar;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility; }

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f3f0;
  line-height: 1.42857143;
  letter-spacing: 0.1px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0; }

button,
input {
  overflow: visible; }

button[disabled] {
  opacity: 0.55;
  cursor: not-allowed; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto; }

p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  outline: none;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

input[type="text"] {
  appearance: none; }

picture {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.main-banner {
  overflow: hidden;
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, #c80044 50%, #661f5a 150%); }
  .main-banner.main-banner--192090, .main-banner.main-banner--136690, .main-banner.main-banner--76890 {
    height: 90px; }
    .main-banner.main-banner--192090 .main-banner__bg-left img, .main-banner.main-banner--136690 .main-banner__bg-left img, .main-banner.main-banner--76890 .main-banner__bg-left img {
      max-width: 473px; }
    .main-banner.main-banner--192090 .main-banner__bg-right img, .main-banner.main-banner--136690 .main-banner__bg-right img, .main-banner.main-banner--76890 .main-banner__bg-right img {
      max-width: 1266px; }
    .main-banner.main-banner--192090 .main-banner__logo, .main-banner.main-banner--136690 .main-banner__logo, .main-banner.main-banner--76890 .main-banner__logo {
      padding-left: 24px; }
      .main-banner.main-banner--192090 .main-banner__logo a, .main-banner.main-banner--136690 .main-banner__logo a, .main-banner.main-banner--76890 .main-banner__logo a {
        width: 111px;
        height: 111px; }
  .main-banner.main-banner--192090 .main-banner__subtitle, .main-banner.main-banner--136690 .main-banner__subtitle {
    top: 25%;
    left: auto;
    right: 225px;
    font-size: 44px; }
  .main-banner.main-banner--192090 .main-banner__live, .main-banner.main-banner--136690 .main-banner__live {
    top: 73%;
    right: 310px; }
  .main-banner.main-banner--192048, .main-banner.main-banner--136648, .main-banner.main-banner--76848 {
    height: 48px; }
    .main-banner.main-banner--192048 .main-banner__bg-left img, .main-banner.main-banner--136648 .main-banner__bg-left img, .main-banner.main-banner--76848 .main-banner__bg-left img {
      top: -40%;
      max-width: 305px; }
    .main-banner.main-banner--192048 .main-banner__logo, .main-banner.main-banner--136648 .main-banner__logo, .main-banner.main-banner--76848 .main-banner__logo {
      padding-left: 16px; }
      .main-banner.main-banner--192048 .main-banner__logo a, .main-banner.main-banner--136648 .main-banner__logo a, .main-banner.main-banner--76848 .main-banner__logo a {
        width: 64px;
        height: 64px; }
    .main-banner.main-banner--192048 .main-banner__subtitle, .main-banner.main-banner--136648 .main-banner__subtitle, .main-banner.main-banner--76848 .main-banner__subtitle {
      top: 15%;
      font-size: 30px; }
    .main-banner.main-banner--192048 .main-banner__live, .main-banner.main-banner--136648 .main-banner__live, .main-banner.main-banner--76848 .main-banner__live {
      max-width: 108px; }
    .main-banner.main-banner--192048 .main-banner__btn, .main-banner.main-banner--136648 .main-banner__btn, .main-banner.main-banner--76848 .main-banner__btn {
      height: 40px; }
      .main-banner.main-banner--192048 .main-banner__btn span, .main-banner.main-banner--136648 .main-banner__btn span, .main-banner.main-banner--76848 .main-banner__btn span {
        font-size: 24px; }
  .main-banner.main-banner--192090, .main-banner.main-banner--192048 {
    width: 1920px; }
  .main-banner.main-banner--136690, .main-banner.main-banner--136648 {
    width: 1366px; }
  .main-banner.main-banner--76890, .main-banner.main-banner--76848 {
    width: 768px; }
    .main-banner.main-banner--76890 .main-banner__btn, .main-banner.main-banner--76848 .main-banner__btn {
      right: 12px; }
  .main-banner.main-banner--192090 .main-banner__bg-right img {
    right: 144px; }
  .main-banner.main-banner--136690 .main-banner__bg-right img {
    right: calc(-29% - 8px); }
  .main-banner.main-banner--76890 .main-banner__bg-left img {
    top: -18%;
    left: -10px; }
  .main-banner.main-banner--76890 .main-banner__bg-right img {
    right: calc(-29% - 8px);
    height: 100%; }
  .main-banner.main-banner--192048 .main-banner__bg-right img {
    right: 153px; }
  .main-banner.main-banner--192048 .main-banner__subtitle {
    left: auto;
    right: 200px; }
  .main-banner.main-banner--136648 .main-banner__bg-right img {
    right: calc(-22% - 12px); }
  .main-banner.main-banner--136648 .main-banner__subtitle {
    left: auto;
    right: 200px; }
  .main-banner.main-banner--76848 .main-banner__bg-right img {
    right: calc(-48% - 12px);
    height: 100%; }
  .main-banner.main-banner--76848 .main-banner__subtitle {
    left: calc(50% - 15px); }
  .main-banner.main-banner--76848 .main-banner__live {
    top: 56%;
    right: 190px; }
  .main-banner.main-banner--37575 {
    width: 375px;
    height: 75px; }
    .main-banner.main-banner--37575 .main-banner__bg-left img {
      left: -35px;
      top: 10%;
      max-width: 190px;
      transform: rotate(20deg) translateY(-50%); }
    .main-banner.main-banner--37575 .main-banner__logo {
      padding-left: 4px; }
      .main-banner.main-banner--37575 .main-banner__logo a {
        width: 48px;
        height: 48px; }
  .main-banner__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .main-banner__bg-left {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%; }
      .main-banner__bg-left img {
        position: absolute;
        top: -28%;
        left: -30px;
        transform: rotate(12deg) translateY(-50%);
        display: block;
        width: 100%;
        max-width: 473px;
        height: auto; }
    .main-banner__bg-right {
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%; }
      .main-banner__bg-right img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: block;
        width: 100%;
        max-width: 1457px;
        height: auto; }
  .main-banner__wrapper {
    z-index: 2;
    position: relative; }
  .main-banner__logo {
    position: relative;
    display: flex;
    height: 100%; }
    .main-banner__logo a {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: flex-start; }
      .main-banner__logo a img {
        display: block;
        max-width: 100%;
        height: auto;
        filter: drop-shadow(0 2px 174px #140F36); }
  .main-banner__subtitle {
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% + 7px);
    transform: rotate(-9deg) translate(-50%, -50%);
    font-weight: 900;
    font-style: italic;
    font-size: 35px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-shadow: 0 2px 54px #140F36; }
  .main-banner__live {
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%) rotate(9deg);
    display: block;
    max-width: 100%;
    height: auto; }
  .main-banner__btn {
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 64px;
    padding: 0 27px;
    border-radius: 48px;
    border: 2px solid #FFFFFF;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.3); }
    .main-banner__btn span {
      font-weight: 900;
      font-size: 36px;
      color: #FFFFFF;
      letter-spacing: 0; }
  .main-banner__link {
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 45px;
    padding: 0 27px;
    border: 2px solid #FFFFFF;
    border-radius: 48px;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.3); }
    .main-banner__link span {
      font-weight: 900;
      font-size: 24px;
      color: #FFFFFF;
      letter-spacing: 0; }

/*# sourceMappingURL=style-banner.css.map */
